.app {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
    
    margin:  150px;
    padding: 50px;
    background-color: aqua;
}

.form__header{
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
}

h1 {
    /* text-align: center;  */
}

/* .form__inputs{
    display: flex; 
    flex-direction: column;
}

.form__input {
    display: flex;
    flex-direction: column;  
    margin: 5px;
} */